@import "tailwindcss";

.shine {
  background-image: linear-gradient(90deg, #C2A46D, #D4B97D, #C2A46D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 2.5s linear infinite;
  background-size: 200% auto;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


